@use '../base/variables';
@use '../base/mixins';

.no-webp .imagen-contacto {
    background-image: url(../img/encuentra.jpg);
}
.webp .imagen-contacto {
    background-image: url(../img/encuentra.webp);
}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: variables.$separacion * 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3, p {
        color: variables.$blanco;
    }
    h3 {
        font-weight: variables.$bold;
        font-size: 4rem;
    }
    p {
        text-align: center;
        font-size: 2rem;
    }
}