@use "../base/variables";
@use "../base/mixins";

.no-webp .inicio {
    background-image: url(../../../build/img/header.jpg);
}
.webp .inicio {
    background-image: url(../../../build/img/header.webp);
}

.header {
    background-color: variables.$grisOscuro;
    &.inicio {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include mixins.tablet {
            min-height: 70rem;
        }
        .contenido-header {
            @include mixins.tablet{
                min-height: 70rem;
                
            }
        }         
    }
}
.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        text-align: left;
        font-weight: variables.$bold;
        color: variables.$blanco;
        line-height: 2;
        max-width: 60rem;
    }

}