@use "../base/variables";
@use "../base/mixins";
.icono {
    
    text-align: center;
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
}
@include mixins.tablet {
    .iconos-nosotros {
        @include mixins.grid(3,1)
    }
}