@use '../base/variables';
@use '../base/mixins';

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.tablet {
        align-items: flex-end;
    }
    .dark-mode-boton {
        width: 3rem;
        filter: invert(90%);
        &:hover{
            cursor: pointer;
        }
    }
}


.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include mixins.tablet {
        flex-direction:row;
        justify-content: space-between;
        
    }
}
.navegacion {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .1s ease-in-out, opacity .1s ease-in-out, height 0.1s ease-in-out;

    @include mixins.tablet {
        display: flex;
        align-items: center;       
        visibility: visible;
        opacity: 1;
    }
    a {
        color: variables.$blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;
    &:hover {
            color: variables.$verde;
    }
    @include mixins.tablet {
        margin-right: 2rem;
    }
    }
}


// menu hamburguesa
.mobile-menu {
    @include mixins.tablet{
        display: none;
    }
    img{
        width: 5rem;
    }
}
.mostrar{
    display: flex;
    flex-direction: column;
    @include mixins.tablet{
        flex-direction: row;
    }
}
.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}